# Django settings
DJANGO_SECRET_KEY='Секретный ключ от приложения'
DJANGO_DEBUG='1 - режим debug, 0 - продакшен'
DJANGO_LOGLEVEL='Уровень логирования INFO, ERROR ...'
DJANGO_ALLOWED_HOSTS='IP сервера'
DJANGO_DOMAIN='Домен сервера, на котором работает django с протоколом подключения. Применяется при развертывании на удаленном сервере'

# Database settings
POSTGRES_USER='Пользователь БД'
POSTGRES_PASSWORD='Пароль пользовавтеля'
POSTGRES_DB='Название БД'
POSTGRES_PORT='Порт БД'

# S3 settings
AWS_ACCESS_KEY_ID='Ваш S3 Access Key'
AWS_SECRET_ACCESS_KEY='Ваш S3 Secret Access Key'
AWS_STORAGE_BUCKET_NAME='Название бакета'
